.EmFoco{   
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    width: 80%;
    height: 108px;
    left: 178px;
    top: 120px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#detalheProcesso{
    display: flex;
    flex-direction: column;
}

#detalheData{
    display: flex;
    flex-direction: column;
}

#detalheAssunto{
    display: flex;
    flex-direction: column;
}

#detalheInteressados{
    display: flex;
    flex-direction: column;
}

#detalheDescricao{
    display: flex;
    flex-direction: column;
}